/* desktop-x-small */
@media all and (min-width: 0) and (max-width: 480px) {
    .root-dim {
        margin-left: 16px;
        margin-right: 16px;
        /* background-color: yellow; */
    }

    .section-dim {
        margin-top: 12px;
    }
    
    .last-section-dim {
        margin-top: 20px;
        margin-bottom: 35px;
    }
}

/* desktop-small */
@media all and (min-width: 481px) and (max-width: 840px) {
    .root-dim {
        margin-left: 16px;
        margin-right: 16px;
        /* background-color: green; */
    }

    .section-dim {
        margin-top: 22px;
    }
    
    .last-section-dim {
        margin-top: 30px;
        margin-bottom: 50px;
    }
}

/* desktop-medium */
@media all and (min-width: 841px) and (max-width: 1280px) {
    .root-dim {
        margin-left: 100px;
        margin-right: 100px;
        /* background-color: blue; */
    }

    .section-dim {
        margin-top: 32px;
    }
    
    .last-section-dim {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

/* desktop-large */
@media all and (min-width: 1281px) and (max-width: 1600px) { 
    .root-dim {
        margin-left: 200px;
        margin-right: 200px;
        /* background-color: pink; */
    }

    .section-dim {
        margin-top: 32px;
    }
    
    .last-section-dim {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

/* desktop-xlarge */
@media all and (min-width: 1601px) {
    .root-dim {
        margin-left: 400px;
        margin-right: 400px;
        /* background-color: gray; */
    }

    .section-dim {
        margin-top: 32px;
    }
    
    .last-section-dim {
        margin-top: 40px;
        margin-bottom: 40px;
    }   
}

.section-title {
    font-size: 25px;
    font-weight: 600;

    margin-bottom: 8px;
}