---
---

@import "{{ site.theme }}";

.wrapper {
    width:880px;
    margin:0 auto;
}

header {
    width:350px;
    float:left;
    position:fixed;
    -webkit-font-smoothing:subpixel-antialiased;
  }

  @media print, screen and (max-width: 960px) {

    div.wrapper {
      width:auto;
      margin:0;
    }
  
    header, section, footer {
      float:none;
      position:static;
      width:auto;
    }
  
    header {
      padding-right:320px;
    }
  
    section {
      border:1px solid #e5e5e5;
      border-width:1px 0;
      padding:20px 0;
      margin:0 0 20px;
    }
  
    header a small {
      display:inline;
    }
  
    header ul {
      position:absolute;
      right:50px;
      top:52px;
    }
  }
  
  @media print, screen and (max-width: 720px) {
    body {
      word-wrap:break-word;
    }
  
    header {
      padding:0;
    }
  
    header ul, header p.view {
      position:static;
    }
  
    pre, code {
      word-wrap:normal;
    }
  }
  
  @media print, screen and (max-width: 480px) {
    body {
      padding:15px;
    }
  
    header ul {
      width:99%;
    }
  
    header li, header ul li + li + li {
      width:33%;
    }
  }
  
  @media print {
    body {
      padding:0.4in;
      font-size:12pt;
      color:#444;
    }
  }