/* desktop-x-small */
@media all and (min-width: 0) and (max-width: 480px) { 
    .header-dim {
        width: 100%;
        height: 20vh;
    }

    .logo-dim {
        height: 80px;
        width: 80px;
    }

    .description-dim {
        margin-left: 16px;
        margin-right: 16px;
    }
}

/* desktop-small */
@media all and (min-width: 481px) and (max-width: 840px) {
    .header-dim {
        width: 100%;
        height: 30vh;
    }

    .logo-dim {
        height: 150px;
        width: 150px;
    }

    .description-dim {
        margin-left: 16px;
        margin-right: 16px;
    }
}

/* desktop-small-medium */
@media all and (min-width: 841px) and (max-width: 1280px) {
    .header-dim {
        width: 100%;
        height: 45vh;
    }

    .logo-dim {
        height: 200px;
        width: 200px;
    }

    .description-dim {
        font-size: 18px;
        font-weight: 500;
    }
}

/* desktop-medium */
@media all and (min-width: 1281px) {
    .header-dim {
        width: 100%;
        height: 65vh;
    }

    .logo-dim {
        height: 250px;
        width: 250px;
    }

    .description-dim {
        font-size: 18px;
        font-weight: 500;
    }
}

.header {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.description {
    color: rgba(255, 255, 255, 0.836);
    text-align: center;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.header-conten {
    position: absolute;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}