/* desktop-x-small */
@media all and (min-width: 0) and (max-width: 480px) {
    .navbar-dim {
        height: 60px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* desktop-small */
@media all and (min-width: 481px) and (max-width: 840px) {
    .navbar-dim {
        height: 60px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* desktop-medium */
@media all and (min-width: 841px) {
    .navbar-dim {
        height: 60px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.navbar {
    z-index: 100;
    background-color: rgba(244, 69, 56, 1);

    display: flex;
    flex-direction: row;

    justify-content: start;
    align-items: center;
    
}

.navbar-item {
    border-radius: 4px;
    color: white;
    
    font-size: 15px;
    font-weight: 500;

    background-color: rgba(0, 0, 0, 0); /* Green */
    border: none;
}

.navbar-item-dim {
    padding: 16px;
}

.navbar-item:focus {
    outline:0;
}

.navbar-item:hover {
    -webkit-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;

    background-color: rgba(0, 0, 0, 0.05);
}