/* desktop-x-small */
@media all and (min-width: 0) and (max-width: 480px) {
    .navbar-dim {
        width: 100%;
        height: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .navbar-item-dim {
        padding: 8px;
        margin-right: 2px;
    }

    .navbar-item-not-important {
        display: none;
    }
}

/* desktop-small */
@media all and (min-width: 481px) and (max-width: 840px) {
    .navbar-dim {
        width: 100%;
        height: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .navbar-item-dim {
        padding: 12px;
        margin: 8px;
    }

    .navbar-item-not-important {
        display: none;
    }
}

/* desktop-medium */
@media all and (min-width: 841px) {
    .navbar-dim {
        width: 100%;
        height: 60px;
        padding-left: 18px;
        padding-right: 18px;
    }

    .navbar-item-dim {
        padding: 16px;
        margin-right: 20px;
    }
}

.navbar {
    position: fixed;
    z-index: 100;
    /* background-color: rgba(244, 69, 56, 1); */

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    
}

.navbar-item {
    border-radius: 4px;
    color: white;
    
    font-size: 15px;
    font-weight: 500;

    background-color: rgba(0, 0, 0, 0); /* Green */
    border: none;
    
    cursor: pointer;
}

.navbar-item:focus {
    outline:0;
}

.navbar-item:hover {
    -webkit-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;

    background-color: rgba(0, 0, 0, 0.05);
}