/* desktop-x-small */
@media all and (min-width: 0) and (max-width: 480px) {
    .navbar-dim {
        width: 100%;
        height: 40px;
    }

    .navbar-item-dim {
        height: 100%;

        font-size: 14px;

        padding-left: 8px;
        padding-right: 8px;
    }
}

/* desktop-small */
@media all and (min-width: 481px) and (max-width: 840px) {
    .navbar-dim {
        width: 100%;
        height: 50px;
    }

    .navbar-item-dim {
        height: 100%;

        font-size: 15px;

        padding-left: 12px;
        padding-right: 12px;
    }
}

/* desktop-small-medium */
@media all and (min-width: 841px) and (max-width: 1280px) {
    .navbar-dim {
        width: 100%;
        height: 60px;
    }

    .navbar-item-dim {
        height: 100%;

        font-size: 17px;
        letter-spacing: 2px;

        padding-left: 22px;
        padding-right: 22px;
    }
}

/* desktop-medium */
@media all and (min-width: 1281px) {
    .navbar-dim {
        width: 100%;
        height: 60px;
    }

    .navbar-item-dim {
        height: 100%;

        font-size: 17px;
        letter-spacing: 2px;
        
        padding-left: 22px;
        padding-right: 22px;
    }
}

.navbar {
    position: fixed;
    z-index: 100;

    display: flex;

    justify-content: center;
    align-items: center;
    
    -webkit-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.navbar-elevated {
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.10);
}

.navbar-button {
    color: white;
    
    text-transform: uppercase;

    background-color: transparent;
    border: none;
    
    cursor: pointer;

    -webkit-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.navbar-button:focus {
    outline:0;
}

.navbar-button-elevated {
    color: black;
}

.navbar-link {
    background-color: transparent;
    
    -webkit-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.navbar-link:visited, .navbar-link:hover, .navbar-link:active {
    color: white;
    text-decoration: none;
}

.navbar-link:hover {

    background-color: rgba(0, 0, 0, 0.05);
}