/* desktop-x-small */
@media all and (min-width: 0) and (max-width: 480px) {
    .footer-padding {
        padding-left: 8px;
    }
}

/* desktop-small */
@media all and (min-width: 481px) and (max-width: 840px) {
    .footer-padding {
        padding-left: 16px;
    }
}

/* desktop-medium */
@media all and (min-width: 841px) and (max-width: 1280px) {
    .footer-padding {
        padding-left: 100px;
    }
}

/* desktop-large */
@media all and (min-width: 1281px) and (max-width: 1600px) {
    .footer-padding {
        padding-left: 200px;
    }
}

/* desktop-xlarge */
@media all and (min-width: 1601px) {
    .footer-padding {
        padding-left: 400px;
    }
}

.footer {
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.4);

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer a:link, .footer a:visited, .footer a:hover, .footer a:active {
    color: rgba(0, 0, 0, 0.6);
}

