body, html {
  width: 100%;
  margin: 0;
  padding: 0;

  letter-spacing: .5px;
  /* line-height: 1.5; */
  line-height: 1.41;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-x: hidden;
}

.fill-space {
  flex-grow: 1
}

a {
  text-decoration: none;
  font-weight: 600;
  color: #D32F2F;
}

/* a:link, a:visited, a:active {
  color: #D32F2F;
}*/

a:hover {
  text-decoration: underline;
}